---
version: '3.8'

services:
  web:
    image: ghcr.io/banigoden/web_app-ghcr:v{{ IMAGE_VERSION }}
    container_name: web_app_{{ ENVIRONMENT }}
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME= {{ db_name }}
      - DB_USER= {{ db_user }}
      - DB_PASSWORD= {{ db_pass }}
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: {{ db_pass }}
      MYSQL_DATABASE: {{ db_name }}
      MYSQL_USER: {{ db_name }}
      MYSQL_PASSWORD: {{ db_pass }}
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
