---
services:
  web:
    image: ghcr.io/banigoden/web_app-ghcr:v{{ IMAGE_VERSION }}
    container_name: web_app_{{ ENVIRONMENT }}
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME= {{ db_name }}
      - DB_USER= root
      - DB_PASSWORD= test

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dbs
      MYSQL_USER: root
      MYSQL_PASSWORD: test
    ports:
      - "3306:3306"
