[all]
myvm ansible_host=${instance_public_ip}

[all:vars]
ansible_user=ec2-user
region=${AWS_REGION}
ENVIRONMENT=${ENVIRONMENT}
IMAGE_VERSION=${IMAGE_VERSION}
docker_username=${docker_username}
image_name=${image_name}:v${IMAGE_VERSION}
db_user=${db_user}
db_pass=${db_pass}
db_name=${db_name}
