[all]
myvm ansible_host=${instance_public_ip}

[all:vars]
ansible_user=ec2-user
region=${AWS_REGION}
ENVIRONMENT=${ENVIRONMENT}
IMAGE_VERSION=${IMAGE_VERSION}
token=${GIT_TOKEN_MY}
docker_password=${docker_password}
docker_username=${docker_username}
